flask
flask-sqlalchemy
flask-login
flask-migrate
flask-wtf
flask-cors
gunicorn
psycopg2-binary
python-dotenv
stripe
pillow
cloudinary
werkzeug
wtforms
email-validator
torch
git+https://github.com/openai/CLIP.git
colorthief
